<h1 class="page-header">Un-Break with Finance!</h1>
<br>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="http://www.free-icons-download.net/images/financial-chart-icon-85931.png"
             width="200" height="200" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Track</h4>
        <span class="text-muted">#</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="https://cdn3.iconfinder.com/data/icons/business-and-finance-2/512/money_bag_dollar.png"
             width="200" height="200" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Save</h4>
        <span class="text-muted">##</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="https://cdn1.iconfinder.com/data/icons/love-and-romance-glyphs-1/128/31-512.png"
             width="200" height="200" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Prevent Breakup</h4>
        <span class="text-muted">###</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/80-512.png"
             width="200" height="200" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Stay together!</h4>
        <span class="text-muted">####</span>
    </div>
</div>