<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/">Overview <span
                class="sr-only">(current)</span></a></li>
        <li><a href="/user-624/vendors/expense">Vendors vs Expense</a></li>
        <li><a href="/user-624/vendors/transactions">Vendors vs Transactions</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Graphical</a></li>
        <li><a href="/user-624/dates">By Date</a></li>
        <li><a href="/user-624/income">Income-Expense</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">API Reference</a></li>
        <li><a href="">README</a></li>
        <li><a href="">About me</a></li>
    </ul>
</div>