{% extends 'SystemApp/base.html' %}
{% load filters %}


{% block head %}
    {% include 'SystemApp/charts/generic_head.html' %}
{% endblock head %}


{% block change_user %}

    {% include 'SystemApp/widgets/change_user.html' %}
    {% if current != 'HE' and current != 'RE' %}
        <br>You can click on each bar below to see more details.
    {% endif %}
{% endblock %}

{% block body %}
    <div id="my">
        <button onclick="change_graphic()" id="my_btn">View in Pie Chart</button>
    </div>

    <div id="my_pie_chart" hidden></div>
    <div id="my_h_graph"></div>

    <script>
        {% include 'SystemApp/charts/change_chart.html' %}
    </script>
{% endblock body %}


{% block script %}
    <script>
        {% block extra_script %}
        {% endblock %}
        anychart.onDocumentReady(function () {
            {% block chart_inclusions %}
            {% endblock chart_inclusions %}

        });



    </script>
{% endblock script %}

