{% extends 'SystemApp/base.html' %}
{% load filters %}


{% block head %}
    {% include 'SystemApp/charts/generic_head.html' %}
{% endblock head %}



{% block body %}
    <div id="my">
        <button onclick="change_graphic()" id="my_btn">View in graph</button>
    </div>

    <div id="my_pie_chart"></div>
    <div id="my_h_graph" hidden></div>

    <script>
        {% include 'SystemApp/charts/change_chart.html' %}
    </script>
{% endblock body %}


{% block script %}
    <script>
        {% block extra_script %}
        {% endblock %}
        anychart.onDocumentReady(function () {
            {% block chart_inclusions %}
            {% endblock chart_inclusions %}

        });



    </script>
{% endblock script %}

