{% extends 'SystemApp/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3>Details of Individual-{{ Auth_id }}</h3>

        <p>
            Auth_id: {{ Auth_id }}
            <br>Total Expense so far: {{ total_expense }}
            <br>Total money you have made so far: {{ total_income }}
            <br>Your financial status: {% if status < 0 %}
            <span style="color: red">Debt $ {{ status }}</span>{% else %}
            <span style="color: green">Has $ {{ status }}</span>{% endif %}
            <br>Total Housing Expense: {{ total_housing }}

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% include 'SystemApp/widgets/change_user.html' %}

        <strong><br>Based on transactions, features of </strong> <em>Individual
                    - {{ Auth_id }}</em>
                </div>
                <div class="panel-body">

                    <div class="icon-grid">
                        <style>
                                #my_img{
                                    width: 128px;
                                    height: 128px;
                                }
                            </style>


                                {% if feature.student%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <img src={% static 'student'|image_name %} id="my_img">
                                        <pre>is a <strong>student</strong>.</pre>
                                    </div>

                                {% endif %}

                                {% if feature.has_kids%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                   <img src={% static 'has_kids'|image_name %} id="my_img">
                                    <pre>Has kids.</pre>
                                    </div>
                                {% endif %}

                                {% if feature.student_loan %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                   <img src={% static 'student_loan'|image_name %} id="my_img">
                                    <pre>Paying student loans ${{ feature.student_loan  }} </pre>
                                    </div>

                                {% endif %}

                                {% if feature.pets %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'pets'|image_name %} id="my_img">
                                    <pre>Has pets.</pre>
                                    </div>
                                {% endif %}

                                {% if feature.an_artist%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'an_artist'|image_name %} id="my_img">
                                    <pre>An artist or into arts.</pre>
                                    </div>
                                {% endif %}

                                {% if feature.moved%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'moved'|image_name %} id="my_img">
                                    <pre>Recently moved.</pre>
                                    </div>
                                {% endif %}

                                {% if feature.peaceful %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'peaceful'|image_name %} id="my_img">
                                    <pre>Peace and Learn.</pre>
                                    </div>
                                {% endif %}

                                {% if feature.proposing%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'proposing'|image_name %} id="my_img">
                                    <pre>Is planning on proposing.</pre>
                                    </div>

                                {% endif %}

                                {% if feature.athletic%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'athletic'|image_name %} id="my_img">
                                    <pre>Is an athletic person.</pre>
                                    </div>

                                {% endif %}

                                {% if feature.divorced%}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'divorced'|image_name %} id="my_img">
                                    <pre>Recently divorced.</pre>
                                    </div>

                                {% endif %}

                                {% if feature.outgoing %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'outgoing'|image_name %} id="my_img">
                                    <pre>Is outgoing.</pre>
                                    </div>

                                {% endif %}

                                {% if feature.figurine_stuffs %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static 'figurine_stuffs'|image_name %} id="my_img">
                                    <pre>Is into figurine stuffs.</pre>
                                    </div>
                                {% endif %}

                    </div>
                </div>
            </div>
        </div>

        Determined the features based on following:
        <ol>
            <li>
                <b>Student</b> - Transactions related to books such as Science, Mathematics, Biology
            </li>
            <li>
                <b>Artist or into arts</b> - Transactions related to art, paint, craft
            </li>
            <li>
                <b>Into music</b> - Transactions related to Guitar, Music, Piano
            </li>
            <li>
                <b>Figurine stuffs</b> - Transactions related to Figurines
            </li>
            <li>
                <b>Recently moved</b> - Transactions related to Depot, Furniture, Movers
            </li>
            <li>
                <b>Likes peace</b> - Transactions related to Library, Book Store, Museum
            </li>
            <li>
                <b>Proposing</b> - Transactions related to Wedding Planners, Jewelry shopping
            </li>
            <li>
                <b>Athletic</b> - Transactions related to Dick's Sports, Sports, NFl, NBA, Athletic events, Vitamin shopping, Biking, Gym
            </li>
            <li>
                <b>Divorced</b> - Transactions related to Divorced Lawyer Fees
            </li><li>
                <b>Outgoing</b> - Transactions related to Bar, Beach, Bowling, Skating, Theater, Concert, Wine
            </li>
            <li>
                <b>Has Kids</b> - Transactions related to babies
            </li>
            <li>
                <b>Paying Student Loans</b> - Transactions related to Student Loans
            </li><li>
                <b>Pets</b> - Transactions related to pet supplies
            </li>

        </ol>
        </p>
    </div>
{% endblock %}