{% extends 'SystemApp/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3>Details of Individual-{{ Auth_id }}</h3>

        <p>
            Auth_id: {{ Auth_id }}
            <br>Total Expense so far: {{ total_expense }}
            <br>Total money you have made so far: {{ total_income }}
            <br>Your financial status: {% if status < 0 %}
            <span style="color: red">Debt $ {{ status }}</span>{% else %}
            <span style="color: green">Has $ {{ status }}</span>{% endif %}
            <br>Total Housing Expense: {{ total_housing }}

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% include 'SystemApp/widgets/change_user.html' %}

        <strong><br>Based on transactions, features of </strong> <em>Individual
                    - {{ Auth_id }}</em>
                </div>
                <div class="panel-body">

                    <div class="icon-grid">
                        {% for feature in features %}
                            <style>
                                #my_img{
                                    width: 128px;
                                    height: 128px;
                                }
                            </style>


                                {% if feature == 'student' and features|item_at:feature %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <img src={% static feature|image_name %} id="my_img">
                                        <pre>is a <strong>student</strong>.</pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'has_kids' and features|item_at:feature %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                   <img src={% static feature|image_name %} id="my_img">
                                    <pre>Has kids.</pre>
                                    </div>
                                {% endif %}

                                {% if feature == 'student_loan' and features|item_at:feature %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                   <img src={% static feature|image_name %} id="my_img">
                                    <pre>Paying student loans ${{ features|item_at:feature  }} </pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'pets' and features|item_at:feature %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Has pets.</pre>
                                    </div>
                                {% endif %}

                                {% if feature == 'an_artist' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>An artist or into arts.</pre>
                                    </div>
                                {% endif %}

                                {% if feature == 'moved' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Recently moved.</pre>
                                    </div>
                                {% endif %}

                                {% if feature == 'peaceful' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Peace and Learn.</pre>
                                    </div>
                                {% endif %}

                                {% if feature == 'proposing' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Is planning on purposing.</pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'athletic' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Is an athletic person.</pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'divorced' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Recently divorced.</pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'outgoing' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Is outgoing.</pre>
                                    </div>

                                {% endif %}

                                {% if feature == 'figurine_stuffs' and features|item_at:feature  %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                    <img src={% static feature|image_name %} id="my_img">
                                    <pre>Is into figurine stuffs.</pre>
                                    </div>

                                {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        Determined the features based on following:
        <ol>
            <li>
                Student - Transactions related to books such as Science, Mathematics, Biology
            </li>
            <li>
                Artist or into arts - Transactions related to art, paint, craft
            </li>
            <li>
                Into music - Transactions related to Guitar, Music, Piano
            </li>
            <li>
                Figurine stuffs - Transactions related to Figurines
            </li>
            <li>
                Recently moved - Transactions related to Depot, Furniture, Movers
            </li>
            <li>
                Likes peace - Transactions related to Library, Book Store, Museum
            </li>
            <li>
                Proposing - Transactions related to Wedding Planners, Jewelry shopping
            </li>
            <li>
                Athletic - Transactions related to Dick's Sports, Sports, NFl, NBA, Athletic events, Vitamin shopping, Biking, Gym
            </li>
            <li>
                Divorced - Transactions related to Divorced Lawyer Fees
            </li><li>
                Outgoing - Transactions related to Bar, Beach, Bowling, Skating, Theater, Concert, Wine
            </li>
            <li>
                Has Kids - Transactions related to babies
            </li>
            <li>
                Paying Student Loans - Transactions related to Student Loans
            </li><li>
                Pets - Transactions related to pet supplies
            </li>





        </ol>
        </p>
    </div>
{% endblock %}