<script src="https://cdn.anychart.com/js/7.12.0/anychart-bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.anychart.com/css/7.12.0/anychart-ui.min.css"/>
    <style>
        html, body, #my_pie_chart, #my_h_graph, #graph_3v_container, #my_area_chart{
            width: 100%;
            height: 95%;
            margin: 0;
            padding: 1px 4px 1px 80px;
        }

        #my{
            padding: 11px 1px 1px 90px;
        }
        #my_date{
            padding: 60px 1px 1px 90px;
        }
    </style>