{% extends 'SystemApp/base.html' %}

{% load filters %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Auth_ID</th>
                <th>Profile</th>
                <th>Over Dates</th>
                <th>Income-Expense</th>
                <th>Vendors</th>
                <th>Vendors-Expense</th>
                <th>Vendors-Transactions</th>
                <th>Housing Rent</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/user-{{ user.auth_id }}/profile">{{ user.auth_id }}</a></td>
                    <td><a href="/user-{{ user.auth_id }}/profile">Profile</a></td>
                    <td><a href="/user-{{ user.auth_id }}/dates">Select Date</a></td>
                    <td><a href="/user-{{ user.auth_id }}/ie">Income and Expense</a></td>
                    <td><a href="/user-{{ user.auth_id }}/vendors">See Vendors</a></td>
                    <td><a href="/user-{{ user.auth_id }}/vendors/expense">Vendors-Expense</a></td>
                    <td><a href="/user-{{ user.auth_id }}/vendors/transactions">Vendors-Transactions</a></td>
                    <td><a href="/user-{{ user.auth_id }}/housing">Rent</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}